body {
  margin: 0;
}
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.item {
  background: deeppink;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item1 {
  /* grid-column-start: 1;
    grid-column-end: 3; */
  grid-column: span 2;
}
.item2 {
  /* grid-column-start: 3;
    grid-column-end: 5;*/
  grid-column: span 2;
  grid-row: span 2;
  /*grid-row-start: 1;
    grid-row-end: 3; */
}
.item3 {
  /* grid-row-start: 2;
  grid-row-end: 4; */
  grid-row: span 2;
}
.item6 {
  /* grid-column-start: 3;
  grid-column-end: 5; */
  grid-column: span 2;
}
