.page.darkmode {
  background-color: var(--background);
  height: 100%;
  min-height: 100vh;
}

.darkmode * {
  font-size: 18px;
  color: var(--textcolor);
}

.darkmode .header {
  position: relative;
}

.darkmode .header .header--logo {
    position: absolute;
    top: 0;
    right: 0;
  }

.darkmode .title--big {
  font-size: 36px;
  color: var(--blue);
  width: 50vw;
  margin-bottom: 2em;
  border-bottom: dotted 1px var(--darkblue);
}

@media all and (max-width: 996px) {
  .darkmode .title--big {
    width: 100%;
  }
}

.darkmode .cards .card {
  background-color: var(--background);
}

.darkmode input, .darkmode textarea, .darkmode select {
  background-color: var(--background);
  color: var(--darkblue);
  border: dotted 1px var(--darkblue);
  border-radius: 5px;
}

.darkmode input:focus {
  background-color: var(--background);
  color: var(--blue);
  border: solid 1px var(--blue);
}

.darkmode input[type=submit], .darkmode button {
  background-color: var(--background);
  color: var(--blue);
  border: solid 1px var(--blue);
  cursor:pointer;
}

.darkmode .table {
  border-top: none;
}

.darkmode .table thead tr th {
  font-size: 20px;
  color: var(--blue);
}

.darkmode .table tr td {
  font-size: 18px;
}

.darkmode .table tr:hover td {
  background-color: #023833;
}

.darkmode .clock {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  border: solid 5px #AAA;
  border-radius: 20px;
  padding: 0 5px;
}

.darkmode .clock__number {
  display: inline-block;
  margin: 5px;
  border: solid 2px #555;
  border-radius: 10px;
  background-color: #2A2A2A;
  font-size: 40px;
}

.darkmode .background {
  position: fixed;
  z-index: 998;
  background-color: #00007777;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkmode .modal__window {
  display: relative;
  z-index: 999;
  min-width: 50vw;
  max-width: 90vw;
  min-height: 30vh;
  max-width: 80vh;
  border: 5px cyan solid;
  border-radius: 20px;
  background: #1c1c1c;
  padding: 20px;
}

.darkmode .modal__window h3 {
  color: cyan;
  animation: blink 1.5s linear infinite;
}

.darkmode .modal__button {
  position: relative;
  border: 5px cyan solid;
  border-radius: 30px;
  background: #1c1c1c;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkmode .modal__close {
  top: -45px;
  left: -80px;
}
.darkmode .modal__close button {
  background: none;
  border: none;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  cursor: pointer;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

.darkmode .background.hidden {
  display:none;
}