.container {
  width: 500px;
  height: 500px;
  /* Primero damos display flex al contenedor */
  display: flex;
  /* Segundo, definimos eje principal */
  flex-direction: column;
  background-color: powderblue;
  border: 1px black solid;
}
.item {
  font-size: 32px;
  background-color: pink;
  border: 1px black solid;
}

.container-img {
  width: 700px;
  /* Primero damos display flex al contenedor */
  display: flex;
  /* Segundo, definimos eje principal */
  flex-direction: row;
  /* Flex-wrap para saltar de línea */
  flex-wrap: wrap;
  background-color: powderblue;
  border: 1px black solid;
}
.item-img {
  width: 200px;
  height: 100px;
  font-size: 32px;
  background-color: pink;
  border: 1px black solid;
}
