.header {
  /* Fijamos la cabecera */
  position: fixed;
  /* Que se pegue arriba e izq */
  top: 0;
  left: 0;
  /* Que ocupe todo el ancho disponible */
  width: 100%;
  background-color: black;
  /* Ponemos una al lado de la otra a sus hijas */
  display: flex;
  /* Mandamos uno a cada punta */
  justify-content: space-between;
  /* Centramos forma vertical */
  align-items: center;
}
.header-logo {
  height: 40px;
}
/* En mobile escondemos el menú con palabras, solo icono */
.header-nav {
  display: none;
}
.header-menu-icon {
  width: 20px;
}

/* A partir de tablet aparece el listado de menú con palabras, sin logo */
@media all and (min-width: 768px) {
  .header-menu-icon {
    display: none;
  }
  .header-nav {
    display: block;
  }
  /* Colocamos uno al lado del otro */
  .header-nav-list {
    display: flex;
  }
}
