.main {
  /* Por ahora, bajamos el main la altura del header para que no se pisen */
  margin-top: 40px;
}

.hero {
  background-color: #529cf1;
}

.article-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* A partir de tablet aparece el listado de artículos es horizontal con 2 filas*/
@media all and (min-width: 768px) {
  .article-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .article-item {
    width: 50%;
  }
}
/* A partir de desktop el listado de artículos es horizontal */
@media all and (min-width: 1200px) {
  .article-list {
    flex-wrap: nowrap;
  }
}
