.menu {
  height: 100px;
  /* Primero damos display flex al contenedor */
  display: flex;
  /* Segundo, definimos eje principal */
  flex-direction: row;
  /* Aplica a eje principal en este caso horizontal */
  justify-content: space-between;
  /* Aplica a eje secundario en este caso vertical */
  align-items: center;
  background-color: powderblue;
  border: 1px black solid;
  padding-left: 20px;
  padding-right: 20px;
}
ul {
  list-style-type: none;
}
.item {
  font-size: 32px;
  background-color: pink;
}
