// core

@import './core.scss';

// reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.profile-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1rem;

  & .greeting {
    margin-right: 1rem;
  }
}