# Created by https://www.gitignore.io/api/sass,node,bower,macos

# Bower
bower_components
.bower-cache
.bower-registry
.bower-tmp

# macOS
*.DS_Store
.AppleDouble
.LSOverride

# Linux
*.directory

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Node logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Sass
.sass-cache/
*.css.map

# JS Sourcemaps
*.js.map

# Public folder
public

# vscode
.vscode
node_modules

# folders
modulo-1-leccion-07-control-versiones
modulo-1-leccion-08-automatizacion-tareas
modulo-1-leccion-repaso-final
modulo-1-html-css-global-spotify

modulo-2-leccion-08-trabajo-colaborativo-git
modulo-2-leccion-09-ejercicio-05-07-dibujando-for-loops
modulo-2-leccion-11-ejercicio-09-eslint-prettier-star-wars
modulo-2-leccion-13-ejercicio-11-array-sort-clasificacion-carrera
modulo-2-leccion-13-ejercicio-12-array-sort-poniendo-orden

modulo-3-leccion-03-ejercicio-05-calculadora
modulo-3-leccion-05-ejercicio-04-05-06-ls-to-do-list