* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background-color: rgb(248, 255, 248);
}
.main {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.title {
  color: turquoise;
  text-align: center;
}
.subtitle {
  color: rgb(48, 167, 155);
  text-align: center;
}
.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container--fav {
  width: 40%;
  padding: 20px;
}
.article {
  padding: 20px;
  height: 220px;
  background-color: white;
  border: 1px solid rgb(201, 195, 195);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.article--friend {
  background-color: thistle;
}
.description {
  width: 400px;
  padding: 20px;
}
.img--container {
  width: 150px;
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img {
  width: 130px;
  height: 130px;
}
