.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(226, 220, 220);
  &__container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    &--right {
      display: flex;
      justify-content: space-around;
      width: 400px;
    }
  }
  &__link {
    color: white;
  }
}
