.main {
  display: flex;
  justify-content: center;
  &__container {
    width: 1000px;
  }
}
.button {
  background-color: #14d9c4;
  color: white;
  width: fit-content;
  height: 35px;
  line-height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  margin: 5px;
  text-align: center;
  &__container {
    display: flex;
  }
  cursor: pointer;
}
.icon {
  background-color: #14d9c4;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin: 5px;
  cursor: pointer;
}
.table {
  width: 1000px;
  border-collapse: collapse;
  &__header {
    text-align: center;
    background-color: rgb(223, 248, 237);
    font-size: 18px;
    height: 30px;
  }
  &__row {
    border-top: 1px solid rgb(177, 170, 170);
    border-bottom: 1px solid rgb(177, 170, 170);
    height: 55px;
    text-align: center;
  }
  &__link {
    text-align: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
.notClickable {
  cursor: auto;
}
