<main class="main">
  <section class="main__section">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sed
      repellendus rem dolores nisi ipsa reprehenderit, ratione tempore repellat
      aut totam dicta, maiores nam deserunt veritatis quos eaque illo labore!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, atque?
      Magnam ipsam illum nemo minus iusto. Magni doloremque quaerat quas fugit
      explicabo itaque perferendis. Corporis perspiciatis laboriosam cupiditate
      dolorem explicabo.
    </p>
  </section>
  <section class="main__section2">
    <h2 class="main__title">Título</h2>
    <button class="main__button">Botón</button>
  </section>
</main>
