<main class="main">
  <section class="hero">
    <h1>Prueba Premium gratis 3 meses</h1>
    <h2>
      Escucha millones de canciones sin anuncios, a la carta y sin conexión
    </h2>
    <a href="">Ver planes</a>
    <small
      >Rigen términos y condiciones. Los tres meses gratis no están disponibles
      para usuarios que ya hayan probado Premium.</small
    >
  </section>
  <section>
    <h2>¿Por qué pasarte a Premium?</h2>
    <div class="article-list">
      <include
        src="./article-item.html"
        img="benefit-1.png"
        alt=""
        title="Descarga música."
        text="Llévala siempre contigo"
      ></include>

      <include
        src="./article-item.html"
        img="benefit-2.png"
        alt=""
        title="Sin anuncios."
        text="Disfruta de música sin interrupciones."
      ></include>

      <include
        src="./article-item.html"
        img="benefit-3.png"
        alt=""
        title="Escucha lo que quieras."
        text="Incluso en el móvil."
      ></include>

      <include
        src="./article-item.html"
        img="benefit-4.png"
        alt=""
        title="Salta todas las canciones que quieras."
        text="Simplemente dale a siguiente."
      ></include>
    </div>
  </section>
</main>
