* {
  list-style-type: none;
}
.main__container {
  display: flex;
}
.users__container {
  display: flex;
  flex-wrap: wrap;
}
.user__list--item {
  margin: 10px;
  width: 200px;
  height: 200px;
  border: 2px solid aquamarine;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.label {
  display: block;
  margin: 10px 0;
}
